@{
    Layout = null;  
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHTMLX Gantt</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js"></script>
    <link href="//cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/main.js"></script>
</head>
<body>
    <div id="ganttContainer" style='width:100%; height:100vh;'></div>
</body>
</html>